#requirements.txt
transformers==4.37.2
bitsandbytes==0.41.3
accelerate==0.25.0
git+https://github.com/openai/whisper.git
gradio
gTTS
torch
tensorflow
numpy
nltk
Pillow
requests
datetime

#How to Use?
1️⃣ Install Dependencies from requirements.txt

#Run the following command:
pip install -r requirements.txt
